header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary);
    box-shadow: 0 2px 4px var(--border);
    position: fixed;
    top: 0; 
    z-index: 1000;
    border: 3px solid var(--border);
    width: 100vw;
    height: 80px;
}
header svg{
    height: 50px;
    width: auto;
    margin: 0;
}
header a{
    text-decoration: none;
    color: var(--text);
    font-size: 1.2em;
    margin: 0 15px;
    transition: 200ms ease;
    font-weight: 600;
    display: inline-block;
}



@media (hover: hover) {
    header a:hover{
        color: var(--accent);
        transform: scale(1.1);
    }
}